html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: #222222;
}

a {
  color: #222222;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  background-color : white;
}

ul , ol {
  list-style: none;
}

a {
  text-decoration: none;
}





/*======================
    contents-tidy   
  ======================*/
  
.contents-tidy {
  display : flex;
  justify-content : space-between;
}

.header-nav-list.contents-tidy {
  align-items : center;
}

.section-header.contents-tidy {
  align-items : center;
  flex-direction : column;
}

.top-about .contents-tidy {
  align-items : center;
}



/*
.header-nav-list.contents-tidy {
  align-items : center;
}

.top-about-contents.contents-tidy {
  align-items : center;
}
*/


.example-contents.contents-tidy {
  flex-wrap : wrap;
}


.engineer-name.contents-tidy {
  flex-direction : column;
}

.course-title.contents-tidy {
  align-items : center;
  justify-content : center;
}
.course-media.contents-tidy {
    align-items : stretch;
}

.message-contents.contents-tidy {
  align-items : center;
}


.page-top-btn.content-tidy {
  display : flex;
  justify-content : center;
  align-items : center;
}

.site-footer-main.contents-tidy {
  align-items : normal;
}







/*==============================
        content-width
==============================*/   


.content-width {
  max-width : 1140px;
  padding-left :50px;
  padding-right : 50px;
  margin-left : auto;
  margin-right : auto;
  position : relative;
}

.top-potepan .content-width {
  background-image : url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
  background-size : 281px 275px;
  background-repeat : no-repeat;
  background-position : calc(100% - 50px) top;
  padding-top : 35px;
}







/*==============================
           hover
==============================*/    

.hover-opacity:hover {
  opacity : 0.7;
  transition : opacity 0.2s;
}

a:hover .hover-text-color, .hover-text-color:hover {
  transition : .2s;
  color : #f79314;
}

.hover-scale {
  transition : transform .2s;
}
a:hover .hover-scale {
  transform : scale(1.1);
}
.service-media:hover .hover-scale {
  transform : scale(1.05);
}

.page-top-btn:hover {
  background-color : #f79214;
}
.page-top-btn:hover .page-top-arrow {
  border-left : 3px solid white;
  border-top : 3px solid white;
}




/*==============================
         link-btn
==============================*/         

.link-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: none;
}

.link-btn.menu {
  height : 40px;
  font-size : 12px;
}


.link-btn span:first-child {
  letter-spacing: 4px;
  line-height : 1.5;
  font-family :'Lato',sans-serif;
}
.link-btn span:last-child {
  font-size : 14px;
}

.link-btn.about {
  color : #f79314;
  background-color : white;
}











/*==============================
           section
==============================*/     

.main-section {
  padding-top : 75px;
  padding-bottom : 80px;
}

.section-header {
  width : 100%;
  margin-bottom : 60px;
}

.section-main-heading {
  font-size : 46px;
  font-weight : bold;
}
.section-main-heading span {
  font-size : 50px;
  font-family : 'Lato', sans-serif;
  font-weight : 900;
}


.section-sub-heading {
  margin-top : 10px;
  font-weight : bold;
  font-size : 16px;
  /* display:inline-block
     text-align:center */
}
.section-sub-heading span {
  font-family : 'Lato', sans-serif;
}


.section-movie {
  text-align : center;
}








/*======================
      border
======================*/


.bottom-line::after {
  content : '';
  display : block;
  border-bottom : 6px solid #f79314;
  width : 50px;
  margin-top : 20px;
}

.example-title::after {
  content : '';
  display : block;
  border-bottom : 4px solid #f79314;
  margin-top : 10px;
}







/*======================
     header
======================*/

.site-header {
  width : 100%;
  position: absolute;
  padding : 20px 0;
}

.site-header-logo img {
  width : auto;
  height : 20px;
}

.header-nav-list > li + li {
  margin-left : 30px;
}
.header-nav-list > li + li:last-child {
  margin-left : 20px;
}

.header-nav-item {
  display : block;
}
.header-nav-item span {
  display : block;
  font-weight : bold;
  text-align : center;
}

.header-nav-item span:first-child {
  font-family : 'Lato',sans-serif;
}

.header-nav-item span:last-child {
  font-size : 10px;
}

.header-btn {
  width : 150px;
}

.section-header + .section-content {
  margin-top : 60px;
}





/* =============================
           top-hero
==============================*/
.section-top-hero {
  padding : 190px 0 28px 0;
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
  background-size : auto 100%;
  background-position : right 0;
  background-repeat: no-repeat;
}

.top-hero-box {
  position: relative;
  max-width : 337px;
}

.top-hero-box img {
  width : 100%;
}

.top-hero-box p {
  font-size : 20px;
  font-weight : 700;
  white-space: nowrap;
  line-height: 1.7;
  margin-top: 30px;
}

.top-hero-box span {
  color : #f79314;
}

.top-hero-btn {
  margin-top : 30px;
}

.top-hero-btn a {
  font-size : 16px;
}

.No1-notation {
  margin : 0;
  position: absolute;
  top : 0;
  right : -170px;
}

.No1-notation img {
  width : 154px;
  height : 154px;
}

.proviso {
  color : #888;
  font-size : 10px;
  max-width : 512px;
  padding-top : 132px;
}







/*==========================
      top-about
==========================*/

.top-about {
  padding-top : 45px;
  background-color : #f79314;
}

.top-about img {
  width : 100%;
  margin-bottom : 50px;
}

.about-text {
  color : white;
  width : 53%;
}

.about-text h2 {
  font-size : 40px;
  letter-spacing : 1px;
}

.about-text span {
  font-size : 50px;
  font-family : 'Lato',sans-serif;
  font-weight : 900;
}

.about-text p {
  font-weight: 700;
  margin-top : 15px;
  line-height : 2.3;
}

.top-about-btn {
  width : 320px;
}






/*==========================
       decs-list
==========================*/


.desc-list {
  margin-top : 110px;
}

.desc-list > li {
  background-color : #fcfaf5;
  border-radius : 20px;
  text-align : center;
  padding : 40px;
}

.desc-list > li + li {
  margin-top : 90px;
}

.list-no {
  width : 100px;
  height : 100px;
  display : flex;
  align-items : center;
  justify-content : center;
  margin : -90px auto 0 auto;
  background-color : #fcfaf5;
  border-radius : 50%;
  color : #f79314;
  font-weight : bold;
  font-size : 40px;
}

.list-title {
  font-weight : bold;
  font-size : 30px;
  margin-top : -20px;
  letter-spacing: 1px;
}

.list-text {
  font-size : 16px;
  margin-top : 30px;
  letter-spacing : 1.5px;
  font-weight : 500;
  line-height :2;
}



.desc-list .example {
  background-color : white;
  margin-top : 40px;
  border-radius : 20px;
  padding : 30px;
}

.example-title {
  display : inline-block;
}

.example-title-heading {
  display : inline-block;
  font-weight : bold;
  font-size : 24px;
  vertical-align : bottom;
  line-height : 1;
}
.example-title img {
  margin-left : 10px;
  width : 34px;
  height : auto;
}

.example-contents {
  margin-top : 15px;
}

.example-contents > li {
  width : 25%;
  padding-left : 20px;
  padding-right : 20px;
}

.example-contents img {
  width : 100%;
}

.list-text span {
  color : #f79314;
  font-size : 30px;
  font-family : 'Lato',sans-serif;
  font-weight : 900;
  line-height : 1;
}


.example.performance {
  padding : 40px 70px;
}

.example-list {
  margin : 0 -60px; 
}
.example-list li {
  padding : 0 60px;
  width : calc(100% / 3);
  display : flex;
}
.example-list img {
  width : 100%;
}






.engineer-list {
  margin-top : 45px;
  margin-left : -15px;
  margin-right : -15px;
}

.engineer-box {
  background-color : white;
  border-radius : 15px;
  margin : 0 15px;
  width : calc(100% / 3);
}

.engineer-media {
  display : flex;
  flex-direction : column;
  align-items : center;
  font-weight : bold;
  padding : 20px;
}

.engineer-conpany-logo {
  height : 100px;
  display : flex;
  align-items : center;
  /*justify-content : center*/
}
.engineer-conpany-logo img {
  width : 100%;
}

.engineer-profile {
  display : flex;
  align-items : center;
  width : 100%;
}

.engineer-name {
  text-align : start;
  margin-left : 15px;
  font-size : 20px;
}
.engineer-name span {
  color : #f79314;
  font-size : 14px;
}

.engineer-text {
  /*width :100%;*/
  position : relative;
  background-color : #f6f6f6;
  padding : 20px;
  border-radius : 10px;
  margin-top : 20px;
  text-align : start;
}
.engineer-text::before {
  content : '';
  position : absolute;
  top : -25px;
  left : 29px;
  margin-left : -15px;
  border : 15px solid transparent;
  border-bottom : 15px solid #f6f6f6;
}




/* .main-section.top-potepan > * {
    position: relative;
    z-index: 1; */

.main-section.top-potepan {
  /*position : relative;
    overflow : hidden; */
  padding-top : 40px;
  padding-bottom : 80px;
  background-color : #f6f6f6;
}

.course-media {
  font-weight : bold;
  padding : 30px;
  background-color: white;
}

.course-title {
  width : 30%;
  margin-left : -50px;
  margin-right : 30px;
  border : solid 3px;
}

.course-media.open .course-title {
  border-image: linear-gradient(to right,#ff6d00 0%,#f79214 100%);
  border-image-slice : 1;
}

.course-title h3 {
  font-size : 24px;
  text-align : center;
}

.course-contents {
  width : calc(70% + 30px);
  position : relative;
}

.course-text {
  font-size : 16px;
  line-height : 1;
}



.course-text.orange {
  color : #f79314;
}

.ap-condition {
  margin-top : 20px;
}

.ap-condition p {
  display : inline-block;
  font-weight : 400;
  color : white;
  background : linear-gradient( 90deg, #212121, #444);
  padding : 2px 20px;
  border-radius : 20px;
}

.conditions-list {
  margin-top : 7px;
  padding-bottom : 20px;
}

.list-marker::before {
  content : '';
  display : inline-block;
  width : 8px;
  height : 8px;
  border-radius : 50%;
  vertical-align : middle;
  background-color : #f79214;
  margin : 0 10px;
}

.course-link {
  position : absolute;
  right : 20px;
  bottom : 0;
  font-size : 12px;
  color : #999;
}
.course-link::after {
  content : '';
  /*display : block;*/
  position : absolute;
  width : 10px;
  height : 10px;
  bottom : 4px;
  right : -18px;
  border-right : solid 3px #f79214;
  border-top : solid 3px #f79214;
  transform : rotate(45deg);
}

.course-list > li + li {
  margin-top : 40px;
}

.course-media.career .course-title {
  border-color : #f74e06;
  border-image-slice : 1;
}

.course-text.red {
  color : #f75307;
}

.section-btn {
  padding-top : 60px;
  width : 300px;
  margin : 0 auto;
}





.main-section.top-service {
  background-color : #fcfaf5;
}

.message-title {
  /*inline-block*/
  font-size : 50px;
  color : #ff802c;
  /* background: -webkit-linear-gradient(
  0deg, #ff802c, #f79214); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent;*/
  line-height : 1;
  letter-spacing : 3px;
  position : relative;
  z-index : 1;
  margin-left : 20px;
  font-family : 'Lato',sans-serif;
  font-weight : 900;
}

.message-contents {
  margin-top : -20px;
  /*position: relative;*/
}

.message-text {
  background-color : white;
  padding : 40px 150px 40px 40px;
  margin-right : -100px;
}

.message-text p {
  line-height : 2;
  font-weight : 500;
}
.message-text p + p {
  margin-top : 40px;
}

.message-thumbnail {
  position : relative;
}
.message-thumbnail p {
  position : absolute;
  padding : 20px;
  font-size : 16px;
  font-weight : bold;
  color : white;
  text-shadow : 1px 1px 10px #808080;
}
.message-thumbnail span {
  font-size : 24px;
}





.interview-list {
  margin-left : -20px;
  margin-right : -20px;
}
.interview-list > li {
  padding-left : 20px;
  padding-right : 20px;
  width : calc(100% / 3);
}

.interview-media-thumbnail {
  position : relative;
  padding-top : 100%;
  overflow : hidden;
}
.interview-media-thumbnail img {
  width : 100%;
  height : 100%;
  object-fit : cover;
  position : absolute;
  top : 0;
  left : 0;
}

.interview-thumbnail-titlebox {
  position : absolute;
  bottom : 0;
  left : 0;
  right : 0;
  padding : 80px 20px 15px;
  background : linear-gradient(to top, rgba(0,0,0,0.8) 55%, rgba(30,30,30,0.7), rgba(50,50,50,0));
}

.interview-thumbnail-title {
  font-size : 16px;
  font-weight : bold;
  color : #f79314;
}

.interview-thumbnail-subtitle {
  font-size : 16px;
  font-weight : bold;
  color : white;
  margin-top : 5px;
  padding-top : 4px;
  border-top : 1px solid white;
}
.interview-thumbnail-subtitle .name {
  font-size : 20px;
}

.interview-thumbnail-subtitle > span:last-child {
  font-size : 12px;
  margin-left : 15px;
}

.interview-media-text {
  font-size : 15px;
  font-weight : bold;
  margin-top : 15px;
  line-height : 1.8;
}


.service-list {
  margin-left : -20px;
  margin-right : -20px;
}
.service-list > li {
  padding-left : 20px;
  padding-right : 20px;
  width : calc( 100% / 3);
}

.service-media-thumbnail {
  display : flex;
  align-items : center;
  background-color : white;
  border : solid 2px;
  border-radius : 10px;
  padding : 0 20px;
  height : 190px;
  /* box-sizing: border-box;*/
}
.service-media-thumbnail.red {
  border-color : #fc6803;
}
.service-media-thumbnail.green {
  border-color : #08af77;
}
.service-media-thumbnail.black {
 border-color : #000; 
}

.service-media-thumbnail img {
  width : 100%;
  height : auto;
}

.service-media-text {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}



.site-footer {
  padding-top : 80px;
  padding-bottom : 40px;
  background-color : #f79314;
}

.page-top-btn {
  position : absolute;
  width : 50px;
  height : 50px;
  top : -105px;
  right : 50px;
  border-radius : 50%;
  background-color : white;
  box-shadow : 0 12px 30px -15px;
  transition : 0.2s;
}

.page-top-arrow {
    /*display : inline-block*/
  height : 10px;
  width : 10px;
  border-left : 3px solid #f79214;
  border-top : 3px solid #f79214;
  transform : rotate(45deg);
    /* text-decoration: none; */
    /* text-indent: 100%; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
}

.footer-nav {
  order : 2;
}
.footer-nav > li+ li {
  margin-top : 30px;
}

.footer-nav-item {
  font-size : 16px;
  font-weight : bold;
  color : white;
}
.footer-nav-item span {
  font-weight : normal;
  margin-left : 1em;
}

.footer-character {
  order : 3;
  align-self : flex-end;
}
.footer-character > img {
  width : auto;
  height : 70px;
}

.footer-info {
  order : 1;
  /*display: block;*/
  color : white;
}

.footer-logo {
  display : inline-block;
  max-width : 280px;
}
.footer-logo > img {
  width : 100%;
  height : auto;
}

.footer-company {
  margin-top : 25px;
  font-size : 16px;
  font-weight : bold;
}

.footer-address {
  margin-top : 10px;
  font-size : 16px;
  font-weight : bold;
}

.footer-social {
  margin-top : 35px;
  display : flex;
}

.footer-social-item {
  display : block;
  max-width : 60px;
}
.footer-social li + li {
  margin-left : 20px;
}

.footer-social-item img {
  width : 100%;
  height : auto;
}

.site-footer-sub {
  margin-top : 60px;
}

.footer-copyright {
  color : white;
  font-size : 12px;
}